---
layout: default
---

{% for block in site.data.homepage.page_sections limit: 1 %}
  {% include {{block.template}}.html %}
{% endfor %}

<div id="about" class="section" data-scroll-section>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
</div>

<div class="spacer" data-scroll-section></div>

<div id="work" class="section" data-scroll-section>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
  <h2>lorem ipsum</h2>
</div>