{% assign section = site.data.homepage.page_sections[include.index] %}
<section id="contact" class="section contact divider" data-scroll-section>
  <h2 class="text-animate" id="contact-h2" data-scroll data-scroll-call="text-animate+contact-h2">{{ section.heading }}</h2>
  <p class="animate__fadeIn" id="contact-desc" data-scroll data-scroll-call="animate-in+contact-desc">{{ section.description }}</p>
  <p class="animate__fadeIn" id="contact-p" data-scroll data-scroll-call="animate-in+contact-p">send us an <a href="mailto:{{ section.email }}">email</a> to learn more</p>
  <video class="background" id="contact_video" autoplay loop muted playsinline nocontrols preload="auto">
    <source src="/assets/images/J10X_GRADIENT.mp4" type="video/mp4">
    <source src="/assets/images/J10X_GRADIENT.webm" type="video/webm">
  </video>
</section>