{% assign section = site.data.blocks.block-divider %}
<section id="divider-{{ include.index }}" class="section divider" data-scroll-section>
  <h2 class="text-animate" id="divider-{{ include.index }}-h2" data-scroll data-scroll-call="text-animate+divider-{{ include.index }}-h2">{{ section.section_title }}</h2>
  <video class="background" id="divider_video" autoplay loop muted playsinline nocontrols preload="auto">
    <source src="/assets/images/J10X_GRADIENT.mp4" type="video/mp4">
    <source src="/assets/images/J10X_GRADIENT.webm" type="video/webm">
  </video>
</section>