{% assign section = site.data.homepage.page_sections[include.index] %}
<div id="values" class="section" data-scroll-section>
  <div class="text-fade" data-scroll data-scroll-sticky data-scroll-target="#values" data-scroll-position="top"></div>
  <h2 id="values-h2" data-scroll data-scroll-sticky data-scroll-target="#values">{{ section.section_title }}</h2>
  <ul data-scroll data-scroll-speed="-1">
    {% for value in section.values %}
      <li>{{ value.title }}</li>
    {% endfor %}
  </ul>
</div>