<div id="about" class="section" data-scroll-section>
  <div class="section__title">
    <h2 class="letter-animate" id="{{ site.data.homepage.page_sections[include.index].template }}-h2" data-scroll data-scroll-call="text-animate+{{ site.data.homepage.page_sections[include.index].template }}-h2">{{ site.data.homepage.page_sections[include.index].section_title }}</h2>
  </div>
  <div class="section__content offset__left">
    <div class="section__content__container">
      <p class="heading animate__fadeIn" id="{{ site.data.homepage.page_sections[include.index].template }}-heading" data-scroll data-scroll-call="animate-in+{{ site.data.homepage.page_sections[include.index].template }}-heading">{{ site.data.homepage.page_sections[include.index].heading }}</p>
      <p class="description animate__fadeIn" id="{{ site.data.homepage.page_sections[include.index].template }}-description" data-scroll data-scroll-call="animate-in+{{ site.data.homepage.page_sections[include.index].template }}-description">{{ site.data.homepage.page_sections[include.index].description }}</p>
    </div>
  </div>
</div>