{% assign project = site.data.homepage.work %}
<div id="work" class="section" data-scroll-section>
  <div class="section__title">
    <h2 class="letter-animate" id="{{ project.template }}-h2" data-scroll data-scroll-call="text-animate+{{ project.template }}-h2">{{ project.section_title }}</h2>
  </div>
  <div class="work__projects">
    {% assign projects = site.projects | sort: 'order' %}
    {% for project in projects limit: 3 %}
      {% if project.display_on_homepage %}
        <a id="{{ project.title | slugify }}" data-scroll data-scroll-call="animate-in+{{ project.title | slugify }}" class="work__projects__project project animate__fadeIn">
          <div class="thumbnail">
            <button class="btn btn__circle btn__light btn__scale btn__text-animate video_modal_open" data-source="{{ project.source }}" data-poster="{{ project.image }}">
              <span class="animate__text" data-content="Play">
                <span class="animate__text__hide">Play</span>
              </span>
            </button>
            <img src="{{ project.image }}">
          </div>
          <div class="content">
            <div class="information">
              <p class="title" style="--transition-delay: 0.1s"><span>{{ project.title }}</span></p>
              <p class="media" style="--transition-delay: 0.2s"><span>{{ project.media }}</span></p>
              <p class="credit" style="--transition-delay: 0.3s"><span>{{ project.credit_title }}: {{ project.credit_name }}</span></p>
            </div>
            <div class="preview">
              <p class="number animate__text" data-content="0{{ forloop.index }}">
                <span class="animate__text__hide">0{{ forloop.index }}</span>
              </p>
            </div>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <script>
    let active_project = null;
    if (window.innerWidth > 1024) {
      document.querySelectorAll('.project').forEach((x) => {
        x.addEventListener('click', () => {
          if (active_project == x.getAttribute('id')) {
            //Reset active
            active_project = null;
          } else {
            //Not active, make active
            if (active_project != null) {
              document.querySelectorAll('.project.active').forEach((proj_active) => {
                proj_active.classList.toggle('is-animating');
                proj_active.classList.toggle('active');
              });
            }
            active_project = x.getAttribute('id');
          }
          x.classList.toggle('is-animating');
          x.classList.toggle('active');
        });
      });
    }
    document.querySelectorAll('.video_modal_open').forEach((proj) => {
      proj.addEventListener('click', () => {
        let modal = document.querySelector('.video_modal');
        let player = document.getElementById('video_modal_player');
        let player_source = document.getElementById('video_modal_source');
        player.setAttribute('poster', proj.getAttribute('data-poster'));
        player_source.setAttribute('src', proj.getAttribute('data-source'));
        player_source.setAttribute('type', 'video/mp4');
        player.load();
        modal.classList.add('active');
        player.play();
      });
    });
  </script>
  <div class="section__content offset__right">
    <div class="section__content__container">
      <p class="description animate__fadeIn" id="{{ project.template }}-description" data-scroll data-scroll-call="animate-in+{{ project.template }}-description">{{ project.description }}</p>
    </div>
  </div>
</div>