{% assign section = site.data.homepage.services %}
<div id="services" class="section flex" data-scroll-section>
  <div class="image__right animate__fadeIn" id="services-img" data-scroll data-scroll-call="animate-in+services-img">
    <img src="/assets/images/J10X_services_image.jpg" height="500" width="500">
  </div>
  <ul class="accordion static">
    {% for service in section.services %}
      <li class="accordion__item" id="{{ service.title | slugify }}">
        <div class="title" data-for="{{ service.title | slugify }}">
          <span class="text-animate" id="{{ service.title | slugify }}-title" data-scroll data-scroll-call="text-animate+{{ service.title | slugify }}-title">{{ service.title }}</span>
        </div>
        <div class="panel">
          <p class="animate__fadeIn" id="{{ service.title | slugify }}-description" data-scroll data-scroll-call="animate-in+{{ service.title | slugify }}-description">{{ service.description }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>