{% assign section = site.data.homepage.locations %}
<div id="locations" class="section flex" data-scroll-section>
  <div class="image__right animate__fadeIn" id="locations-img" data-scroll data-scroll-call="animate-in+locations-img">
    {% include assets/gradient-logo.html %}
  </div>
  <ul class="accordion static">
    {% for location in section.location_list %}
      <li class="accordion__item location">
        <div class="title">
          <span class="text-animate airport_code" id="{{ location.airport_code | slugify }}-code" data-scroll data-scroll-call="text-animate+{{ location.airport_code | slugify }}-code">{{ location.airport_code }}</span>
          <span class="text-animate airport_name" id="{{ location.airport_code | slugify }}-name" data-scroll data-scroll-call="text-animate+{{ location.airport_code | slugify }}-name">{{ location.name }}</span>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>