{% assign section = site.data.homepage.page_sections[include.index] %}
<section id="clients" class="section" data-scroll-section>
  <div class="logo_soup" data-scroll data-scroll-direction="horizontal" data-scroll-speed="3">
    {% for logo in section.client_logos %}
      <img id="{{ logo | slugify }}-1" data-scroll src="{{ logo }}">
    {% endfor %}
  </div>
  <div class="logo_soup" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-3">
    {% for logo in section.client_logos %}
      <img id="{{ logo | slugify }}-2" data-scroll src="{{ logo }}">
    {% endfor %}
  </div>
  <video class="background" id="clients_video" autoplay loop muted playsinline nocontrols preload="auto">
    <source src="/assets/images/J10X_GRADIENT.webm" type="video/webm">
  </video>
</section>