<script src="/assets/js/main.js"></script>
<script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.min.js" crossorigin="anonymous"></script>
<script nomodule src="https://polyfill.io/v3/polyfill.min.js?features=Object.assign%2CElement.prototype.append%2CNodeList.prototype.forEach%2CCustomEvent%2Csmoothscroll" crossorigin="anonymous"></script>
<script src="/assets/js/landing.min.js"></script>
<script>
  var is_updating = false;
  document.querySelectorAll('.letter-animate').forEach(function(e) {
    e.innerHTML = e.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
  });
  document.querySelectorAll('.text-animate').forEach(function(e) {
    e.innerHTML = e.innerHTML.replace(/(?!<*b*r*>)\S*[^\s]/g, "<span class='letter'>$&</span>");
  });
  window.addEventListener('load', function() {
    locomotiveInit();
  });
  function locomotiveInit() {
    var scroll = new LocomotiveScroll({
      el: document.querySelector('[data-scroll-container]'),
      smooth: true,
      getSpeed: true
    });
    scroll.on('call', (obj) => {
      if (!is_updating) {
        if (obj.includes('text-animate')) {
          let ref = obj.split('+');
          anime.timeline({loop: false}).add({
              targets: `#${ref[1]} .letter`,
              translateY: [100,0],
              opacity: [0, 1],
              easing: "easeOutExpo",
              duration: 1400,
              delay: (el, i) => 30 * i
          });
        } else if (obj.includes('animate-in')) {
          let ref = obj.split('+');
          document.getElementById(ref[1]).classList.add('animated');
        }
      }
    });
    if (document.querySelector('.rotate_on_scroll')) {
      let rotation = 0;
      scroll.on('scroll', (e) => {
        rotation += e.speed / 6;
        document.querySelector('.rotate_on_scroll').style.transform = `rotate(${ rotation }deg)`;
      });
    }
    let windowOffset = 120;
    scroll.on('scroll', ({ scroll }) => {
      if (scroll.y >= (window.innerHeight - windowOffset)) {
        if (!document.getElementById('navigation').classList.contains('dark')) {
          document.getElementById('navigation').classList.add('dark');
        }
      } else if (scroll.y < (window.innerHeight - windowOffset)) {
        if (document.getElementById('navigation').classList.contains('dark')) {
          document.getElementById('navigation').classList.remove('dark');
        }
      }
    })
    document.querySelectorAll('a.local').forEach((el) => {
      el.addEventListener('click', (ev) => {
        scroll.scrollTo(el.getAttribute('href'));
        ev.preventDefault();
      });
    });
    
    if (document.querySelector('.accordion_trigger')) {
      document.querySelectorAll('.accordion_trigger').forEach((x) => {
        x.addEventListener('click', () => {
          is_updating = true;
          setTimeout(() => {
            scroll.update();
            setTimeout(() => {
              is_updating = false;
            }, 10)
          }, 600)
        })
      });
    }
  }
</script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>