button.btn,
a.btn {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  font-family: $font-family;
  cursor: pointer;
  transition: 0.4s ease;

  &__dark {
    background: $color-black;
    color: $color-white;
    &:hover {
      background: lighten($color-black, 15);
    }
  }
  &__light {
    background: $color-white;
    color: $color-black;
    &:hover {
      background: lighten($color-orange, 10);
    }
  }
  &__grey {
    background: darken($color-off-white, 5);
    color: $color-black;
    &:hover {
      background: darken($color-off-white, 10);
    }
  }
  &__circle {
    height: 69px;
    width: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    &.small {
      height: 47px;
      width: 47px;
    }
  }
  &__scale {
    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: scale(1);
    &:hover {
      transform: scale(1.2);
    }
  }
  &__text-animate {
    &:hover {
      span.animate__text {
        &:before {
          transform: translateY(-100%);
        }
        &:after {
          transform: translateY(0);
        }
      }
    }
  }
}