$color-black: #000;
$color-white: #FFF;
$color-off-black: #191919;
$color-off-white: #D9D9D9;

//Gradient colors
$color-orange: #F8AC78;
$color-teal: #98E0FF;
$color-indigo: #8F80FF;
$color-sky: #C2C5FF;