.section#contact {
  color: $color-black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 4em;
  h2 {
    max-width: 40%;
    margin: 0;
  }
  p {
    font-size: 1.4em;
    margin: 0;
    font-weight: 300;
    a {
      font-weight: 500;
    }
  }
  @media screen and (max-width: $break-mobile) {
    gap: 1em;
    flex-direction: column;
    align-items: flex-start;
    h2 {
      max-width: 100%;
    }
  }
}