.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: $gutter;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden;

  .content {
    bottom: $gutter;
    width: 100%;
    max-width: 1200px;
    h1 {
      font-size: clamp(1em, 10vw, 8em);
      line-height: 1.1em;
      margin: 0;  
      color: $color-black;
    }
    button {
      margin-top: 4em;
    }
  }

  img {
    position: absolute;
    bottom: -10vh;
    right: -8vw;
    z-index: -1;
    aspect-ratio: 1/1;
    height: 60vh;
    height: auto;
    pointer-events: none;
  }

  #hero-gradient-canvas {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}