.section#locations {
  .image__right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 80%;
      height: auto;
    }
    @media screen and (max-width: $break-mobile) {
      width: 100%;

      svg {
        animation: 25s spinLogo infinite linear;
        @keyframes spinLogo {
          from {
            transform: rotate(0deg);
          } to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}