.navigation {
  width: calc(100% - #{$gutter * 2});
  position: fixed;
  top: 0;
  left: 0;
  margin: $gutter;
  z-index: 97;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s ease;

  &__items {
    display: flex;
    gap: 4em;
    align-items: center;
    font-size: 0.8em;
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-black;
      font-weight: 600;
    }
  }

  &.dark {
    mix-blend-mode: difference;
    margin: ($gutter / 2) $gutter;
    .logo {
      svg path {
        fill: $color-white;
      }
    }
    a {
      color: $color-white;
    }
  }
}