$gutter: 2em;

//Breakpoints
$mobile: '768px';

.mobile-hide {
  @media only screen and (max-width: $mobile) {
    display: none !important;
  }
}
.mobile-only {
  @media only screen and (min-width: $mobile) {
    display: none !important;
  }
}
.mobile-block {
  @media only screen and (max-width: $mobile) {
    display: block !important;

    &:not(.no-margin) {
      div {
        margin-bottom: 3em;
  
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
* {
  box-sizing: border-box;
}
html.has-scroll-smooth {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;  
}
body {
  margin: 0;
  padding: 0;
  background: $color-black;
  color: $color-white;
  font-family: $font-family;
}
.gradient {
  --gradient-color-1: #{$color-orange};
  --gradient-color-2: #{$color-teal};
  --gradient-color-3: #{$color-indigo};
  --gradient-color-4: #{$color-sky};
  pointer-events: none;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background: $color-orange;
  mix-blend-mode: difference;
  transition: height 0.3s, width 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 2;
  z-index: 99;
  pointer-events: none;

  &.active {
    height: 50px;
    width: 50px;
  }
}
.spacer {
  height: 100vh;
  width: 100%;
  background: $color-black;
}

.section {
  padding: 10em $gutter;

  &__title {
    text-transform: uppercase;
    margin: 2em 0;
    border-bottom: 1px solid darken($color-white, 80);
    h2 {
      font-size: 0.8em;
      font-weight: 400;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    &.offset {
      &__left {
        align-items: flex-end;
      }
      &__right {
        align-items: flex-start;
      }
    }
    &__container {
      max-width: 60vw;
    }
    p {
      width: 100%;
      &.heading {
        font-size: clamp(1.8em, 3vw, 3em);
        font-weight: 500;
      }
      &.description {
        font-size: clamp(1.4em, 2vw, 2em);
        font-weight: 300;
      }
    }
  }
}