.section#values {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  .text-fade {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background: linear-gradient(360deg, $color-black 15%, rgba(0, 0, 0, 0) 50%, $color-black 85%);
    z-index: 1;
  }

  h2 {
    align-self: flex-start;
    justify-self: flex-end;
    font-size: clamp(2em, 30vw, 25em);
    text-align: right;
    width: fit-content;
    margin: 0.2em 0;
    background: linear-gradient(20deg, $color-orange 40%, $color-indigo 60%, $color-teal 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  ul {
    font-size: 6em;
    list-style: none;
    font-weight: 500;
    padding: 50vh 0 0 1em;
    li {
      margin: 10vh 0;
    }
  }
}